.about{
    width: 100vw;
    height: 100vh;
    background: url("../../static/images/fondo-amarillo.jpg");
    & img{
        width: @size;
    };
    & .about_1 {
        .display-flex;
        width: 100%;
    }

    & button{
        width: @size;
        height: @size;
    }
    .display-flex;
    flex-direction: column;

}